.write-comment h3 {
    @include header-font;
    text-align:left;
    font-weight: 600;
    font-size:1.5rem;
    margin:50px 0 25px 0;
    padding-bottom: 10px;
}

.write-comment form input {
    width: calc(100%/3 - 23px);
    height: 50px;
    padding: 5px;
    border: none;
    margin: 0px 15px;
    border-bottom: 1px solid #999;
}

.write-comment form input:first-child {
    margin-left: 0;
}
.write-comment form input:nth-child(3) {
    margin-right: 0;
}

.write-comment textarea {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #999;
}

.write-comment button {
    border: none;
    border-bottom: 1px solid #555;
    background-color: $white;
    margin: 50px 0 25px 0;
    @include body-font;
    text-transform: uppercase;
    font-weight: 600;
}