$green: #C3DAB7;
$grey: #F6F6F6;
$white: #FFFF;
$black: #333333;

@mixin body-font {
    font-family: 'Open Sans', sans-serif;
    font-size: .7rem;
    line-height: 1.4rem;
    letter-spacing: 0.3px;

}

@mixin nav-font {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

@mixin button-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 2.4rem;
    letter-spacing: 0.7px;
}

@mixin large-header-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.7rem;
    text-align: center;
    letter-spacing: 0.9px;
}

@mixin header-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.4rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

@mixin icon-round {
    
}
