a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 78vh;
  background-image: url(../creative-assets/home-1.jpeg);
  background-size: cover;
  padding-top: 40px;
}

header::after {
  height: 125px;
  width: 1px;
  background-color: #999999;
  display: block;
  content: '';
  bottom: 30px;
  right: 50%;
  position: absolute;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.7rem;
  text-align: center;
  letter-spacing: 0.9px;
  font-size: 1.8rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  display: none;
  font-size: 3rem;
}

@media (max-width: 740px) {
  header nav ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

.home-page header {
  height: 90vh;
}

.small-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3DAB7;
}

.about .image-wrapper {
  position: relative;
  padding: 0 0 50px 0;
}

.about .image-wrapper img:nth-child(2) {
  position: absolute;
  left: -88px;
  top: -75px;
}

.about .text-wrapper {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  width: 50%;
  text-align: center;
  font-weight: 600;
}

.about h3, .services h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.about p {
  padding: 0px 50px;
}

.slideshow {
  height: 65vh;
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slideshow .medium-wrapper div {
  display: inline-block;
  width: 50%;
}

.slideshow .medium-wrapper .arrow {
  width: 24%;
}

.slideshow .medium-wrapper .arrow i {
  font-size: 1.8rem;
}

.slideshow .medium-wrapper div:nth-child(2) {
  text-align: center;
}

.slideshow .medium-wrapper .arrow:nth-child(3) {
  text-align: right;
}

.slideshow .medium-wrapper img {
  width: 225px;
}

.slideshow .medium-wrapper .text-wrapper {
  display: block;
  text-align: center;
  width: 100%;
}

.slideshow p {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  color: #777777;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
  padding: 25px 150px;
}

.slideshow img {
  border-radius: 145px;
}

.services {
  position: relative;
  height: 85vh;
  background-image: url(../creative-assets/home-4.jpeg);
  background-size: cover;
}

.services::after {
  height: 50px;
  width: 1px;
  background-color: #999;
  bottom: -50px;
  display: block;
  content: '';
  right: 50%;
  position: absolute;
}

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .wrapper > div {
  width: 50%;
}

.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services li {
  width: 50%;
}

.services li div {
  display: inline-block;
}

.services li div:first-child {
  width: 20%;
}

.services li p {
  font-size: .7rem;
}

.services i {
  font-size: 1.5rem;
}

.services h3 {
  display: inline-block;
}

.services i {
  display: inline-block;
  padding: 0.5em 0.4em;
  border: 1px solid #000;
  border-radius: 135px;
  height: 50px;
  width: 50px;
  text-align: center;
}

.team {
  height: 85vh;
  padding: 25px 0;
}

.team h2 {
  text-align: center;
  margin: 50px 0px 25px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.medium-wrapper {
  margin: 0 auto;
  max-width: 950px;
}

.home-page .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(175px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.home-page .grid div {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  background: #F6F6F6;
  padding: 80px 25px 25px 25px;
}

.home-page .grid h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-size: .9rem;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.home-page .grid p {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}

.home-page .grid > p {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
  padding: 40px;
}

.team img {
  width: 100%;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
}

.portfolio .infobox {
  text-align: center;
}

.portfolio h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-size: 1rem;
}

.portfolio p {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}

.portfolio button {
  margin-top: 25px;
  background: #FFFF;
  color: black;
  padding: 15px 20px;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.portfolio .infobox {
  width: 50%;
  height: 100%;
  padding: 15% 10% 10%;
  background-color: #C3DAB7;
}

.portfolio .imagebox {
  height: 100%;
  width: 50%;
  background-image: url(../creative-assets/home-10.jpeg);
  background-size: cover;
}

@media (max-width: 740px) {
  body {
    background: green;
  }
  header nav ul {
    display: none;
  }
}

footer {
  height: 60vh;
  padding-top: 115px;
  background-color: #333333;
  color: #F6F6F6;
  font-size: .6rem;
  position: relative;
}

footer .medium-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .medium-wrapper div {
  width: 33.3333%;
}

footer h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 20px;
}

footer ul {
  list-style-type: disc;
  margin-left: 75px;
}

footer span, footer i, footer label {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  display: block;
}

footer li {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  display: list-item;
  line-height: 1.7rem;
}

footer i {
  margin: 10px 10px 0px 0px;
  font-size: 1rem;
}

footer div:nth-child(2) h3 {
  text-align: center;
}

footer div:nth-child(3) {
  text-align: right;
}

.footer-ending {
  margin-top: 100px;
  border-top: 1px solid #444444;
  color: #F6F6F6;
  padding-top: 50px;
}

.footer-ending h3 {
  letter-spacing: 5.5px;
  font-size: .7rem;
}

footer input, footer button {
  vertical-align: top;
  height: 30px;
  margin: 25px 0;
  border: 0;
  display: inline-block;
  float: right;
}

footer input[type=email] {
  width: 175px;
  padding: 5px 15px;
}

footer button {
  width: 30px;
  background: #C3DAB7;
}

footer button i {
  margin: 0;
}

.blog-page header {
  background-image: url(../creative-assets/blog-1.jpeg);
}

.blog-page header::after {
  display: none;
}

.blog-post {
  padding-top: 100px;
}

.blog-post h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.7rem;
  text-align: center;
  letter-spacing: 0.9px;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 15px;
}

.blog-page span, .blog-page p, .blog-page h4, .blog-page li {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}

.blog-post h4 {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.blog-post .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin: 50px 0;
}

.blog-post .grid div {
  width: 100%;
}

.blog-post .grid div:nth-child(2) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.blog-post img {
  border-radius: 140px;
  width: 75px;
}

.blog-post p {
  padding: 10px 0px 10px 0px;
}

.blog-post ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-post li {
  padding: 10px 10px 10px 0px;
  text-transform: uppercase;
}

.blog-page h3 {
  border-bottom: 1px solid #999999;
}

.blog-gallery {
  padding-top: 50px;
}

.blog-gallery h3, .blog-comment-view h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.blog-gallery span {
  text-transform: uppercase;
}

.blog-gallery img {
  width: 100%;
}

.blog-gallery .grid {
  margin: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.comment {
  background-color: #F6F6F6;
  width: 100%;
  padding: 25px;
  margin-left: 20px;
}

.comment span:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

.tip-left {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #F6F6F6;
  top: 10px;
  left: 0px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 25px 0;
}

.message {
  width: 100%;
  min-height: 100px;
  position: relative;
}

.blog-page footer h3 {
  border: none;
}

.contact-page header {
  background-image: url(../creative-assets/contact-1.jpeg);
  height: 300px;
  background-size: contain;
  background-position-y: 100px;
  background-repeat: no-repeat;
}

.contact-page header::after {
  display: none;
}

.contact-details {
  position: relative;
  margin-top: 75px;
}

.contact-details h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: -175px;
  font-size: 3rem;
  display: inline-block;
  width: 300px;
  line-height: 3.2rem;
  font-weight: 600;
}

.contact-details h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: left;
  font-weight: 600;
}

.contact-page p, .contact-page span, .contact-page h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}

.contact-details p {
  width: 450px;
}

.contact-page .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 25px;
}

.contact-page .grid div {
  padding: 50px;
}

.contact-page .grid div:nth-child(2) {
  border: none;
  border-left: 1px solid #F6F6F6;
  border-Right: 1px solid #F6F6F6;
}

.contact-details .grid span {
  display: block;
  font-size: .6rem;
}

.contact-details i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-details h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.footer-banner {
  background-image: url(../creative-assets/contact-2.jpeg);
  height: 550px;
  background-size: cover;
}

.write-comment h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.write-comment p {
  color: #999;
  margin-bottom: 50px;
}

.write-comment h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 25px 0;
  padding-bottom: 10px;
}

.write-comment form input {
  width: calc(100%/3 - 23px);
  height: 50px;
  padding: 5px;
  border: none;
  margin: 0px 15px;
  border-bottom: 1px solid #999;
}

.write-comment form input:first-child {
  margin-left: 0;
}

.write-comment form input:nth-child(3) {
  margin-right: 0;
}

.write-comment textarea {
  width: 100%;
  height: 200px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #999;
}

.write-comment button {
  border: none;
  border-bottom: 1px solid #555;
  background-color: #FFFF;
  margin: 50px 0 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: 600;
}
